@model NhaSachMetMoi.Models.BookingInfo

@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/Layoutpage.cshtml";
}
<br />
<div class="confirmation-container" style="text-align: center;">
    <img src="~/Content/images/thangcong.jpg" alt="Đặt Phòng Thành Công" style="width: 100%; max-width: 800px; height: auto; margin: 0 auto; display: block;" />
     
    
    <br />
    <a href="@Url.Action("Index", "TrangChu")" class="btn btn-primary" style="font-size: 20px; padding: 10px 20px;">Quay lại trang chủ</a>
</div>
<br />
